<!DOCTYPE html>

<html>
    <head>
	<meta charset="utf-8"/>
	<title> Organic Donkey </title>
	<link rel ="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    </head>
    <body>
	<div id="page">
            <div id="menu">
		<ul>
                    <li><a  href="index.html"><span>Home</span></a></li>
                    <li><a  href="#"><span>Activities</span></a></li>
                    <li><a  href="#"><span>Booking</span></a></li>
                    <li><a  href="Gallery.scala.html"><span>Gallery</span></a></li>
                    <li><a  href="Contact.html"><span>Contact</span></a></li>
		</ul>
            </div>
	    <div id="logo">
		<h1>Organic Donkey</h1>
	    </div>
	    <img id="mainimg" src="images/index.jpg" alt="" />
	    <div id="content">
		<div class="post">
		    <h2>Organic Hostel * Isla Magarita</h2>
		    <p class="postmeta"> April 20, 2015</p>
		    <div class="entry">
                        <p>adkwkdakdkwkdawkdkawkdawkdkwkdakdkwkdakdkwakdakkdwak.</p>
                        <p>adkskdaskdksakdk. adkskdssakkdsak.</p>
                        <p>daowoakodkpwakpdao.dksadkaskdksadksakdskl.</p>
		    </div>
		</div>
	    </div>
	    <div id="footer">
		<p>Copyright &copy; 2015</p>
            </div>
	</div>
    </body>
</html>
