<!DOCTYPE html>
<html>
    <head>
        <script src="@routes.Assets.at("javascripts/jquery.js")" ></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.js")" ></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui.css")">
        <link rel ="stylesheet" href="@routes.Assets.at("stylesheets/style.css")"/>

        <script>
            $(function() {
                $( "#datepicker" ).datepicker({
                 });
            });
        </script>
    </head>

    <body>
        <div id="menu">
            <ul>
                <li><a  href=@routes.Application.index()><span>Home</span></a></li>
                <li><a  href="#"><span>Activities</span></a></li>
                <li><a  href=@routes.Application.bestil()><span>Booking</span></a></li>
                <li><a  href=@routes.Application.gallery()><span>Gallery</span></a></li>
                <li><a  href="#"><span>Contact</span></a></li>
            </ul>
        </div>
        <div id="logo">
            <h1>Organic Donkey</h1>
        </div>

<break>
    <form action="@routes.Application.addBooking()" method="post">
        <input type="text" name="name" />
        <input type="text" name="lname"/>
        <input type="text" name="dato" id="datepicker"/>
        <button>tilføj bestilling</button>
    </form>


    </body>
</html>