body{margin-left:10%; margin-right:20%; padding:0; background-color:#42250E;}

#headline{color:#F5C26E; margin-left:2.5%;}

#logo{display:inline-block; float:left; heigth:60px; with:20%; margin-left:2.5%;}

#enesteMeny{display:inline-block; heigth:60px; with:60%;  list-style-type:none;}

#logo p{ color:#F5C26E; font-size:18px;}

#enesteMeny li{float:left;}

#enesteMeny a{color:#F5C26E; padding-left:32px; padding-rigth:32px; text-decoration:none; font-size:20px;}

#enesteMeny a:hover{color:#A2A19D;} 

#billed1{width:95%; height:75%; margin-left:0px; margin-right:0px; margin-top:10px;}

#hovedTekst {color:#F5C26E; margin-left:2.5%; margin-right:2.5%;}

#bundTekst {color:#F5C26E;}