<!DOCTYPE html>

<html>
    <head>
        <script src="@routes.Assets.at("javascripts/jquery.js")" ></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.js")" ></script>
        <script src="@routes.Assets.at("javascripts/deleteBooki<script src=\"@routes.Application.jsRoutes()\"></script>ng.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui.css")">
        <link rel ="stylesheet" href="@routes.Assets.at("stylesheets/style.css")"/>

        <script>
            $(function() {
                $( "#from" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                onClose: function( selectedDate ) {
                    $( "#to" ).datepicker( "option", "minDate", selectedDate );
            }
        });
            $( "#to" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                onClose: function( selectedDate ) {
            $( "#from" ).datepicker( "option", "maxDate", selectedDate );
        }
        });
        });
    </script>
    </head>

    <body>
        <div id="menu">
            <ul>
                <li><a  href=@routes.Application.index()><span>Home</span></a></li>
                <li><a  href="@routes.Application.activities()"><span>Activities</span></a></li>
                <li><a  href=@routes.Application.bestil()><span>Booking</span></a></li>
                <li><a  href=@routes.Application.gallery()><span>Gallery</span></a></li>
                <li><a  href="#"><span>Contact</span></a></li>
            </ul>
        </div>
        <div id="logo">
            <h1>Organic Donkey</h1>
        </div>

<break />

        <label for="name">Name</label>
        <input type="text" id="name" />

        <label for="LastName">Last name</label>
        <input type="text" id="lname"/>


        <label for="from">From</label>
        <input type="text" id="from" name="from">
        <label for="to">to</label>
        <input type="text" id="to" name="to">

        <label for="room">Room</label>
        <select name="room" id="room" required>
            <option value="101" selected="selected">Room 1</option>
            <option value="102">Room 2</option>
            <option value="103">Room 3</option>
            <option value="104">Room 4</option>
        </select>
        <input id="myFormSubmit" type="submit" />


    </body>
</html>